<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopx.trade.dao.mapper.EsSelfTimeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shopx.trade.dao.entity.EsSelfTime">
        <id column="id" property="id" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="person_number" property="personNumber" />
        <result column="current_person" property="currentPerson"/>
        <result column="date_id" property="dateId" />
    </resultMap>
    <select id="selectPersonTotal" resultType="java.lang.Integer">
        SELECT SUM(est.person_number) from es_self_time est where est.date_id = #{dateId}
    </select>

</mapper>
