<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsArticle">
        <id column="id" property="id"/>
        <result column="article_name" property="articleName"/>
        <result column="category_id" property="categoryId"/>
        <result column="sort" property="sort"/>
        <result column="outside_url" property="outsideUrl"/>
        <result column="content" property="content"/>
        <result column="show_position" property="showPosition"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getAllList" resultType="com.jjg.system.model.domain.EsArticleDO">
        select
        ea.* , eac.name
        from es_article ea left join es_article_category eac on ea.category_id=eac.id
        where 1=1
        <if test="articleName != null and articleName != ''">
            and ea.article_name = #{articleName,jdbcType=VARCHAR}
        </if>
        order by ea.create_time desc
    </select>

    <select id="getListByCategoryId" resultType="com.jjg.system.model.domain.EsArticleDO">
        select
        ea.* , eac.name
        from es_article ea left join es_article_category eac on ea.category_id=eac.id
        where 1=1
        <if test="articleName != null and articleName != ''">
            and ea.article_name = #{articleName,jdbcType=VARCHAR}
        </if>
        <if test="categoryIds !=null and categoryIds !=''">
            and ea.category_id in
            <foreach collection="categoryIds" item="categoryId" index="index" open="(" close=")" separator=",">
                #{categoryId}
            </foreach>
        </if>
        order by ea.create_time desc
    </select>


</mapper>
