<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsFocusPictureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsFocusPicture">
        <id column="id" property="id"/>
        <result column="pic_url" property="picUrl"/>
        <result column="operation_type" property="operationType"/>
        <result column="operation_param" property="operationParam"/>
        <result column="operation_url" property="operationUrl"/>
        <result column="client_type" property="clientType"/>
        <result column="operation_color" property="operationColor"/>
    </resultMap>

</mapper>
