<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsPageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsPage">
        <id column="id" property="id" />
        <result column="page_name" property="pageName" />
        <result column="page_data" property="pageData" />
        <result column="page_type" property="pageType" />
        <result column="client_type" property="clientType" />
    </resultMap>

</mapper>
