<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsSiteNavigationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsSiteNavigation">
        <id column="id" property="id"/>
        <result column="navigation_name" property="navigationName"/>
        <result column="url" property="url"/>
        <result column="client_type" property="clientType"/>
        <result column="image" property="image"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <select id="getMaxSort" resultType="Integer">
      select MAX(sort) from es_site_navigation
    </select>


</mapper>
