.classpath

target/**
.factorypath

.settings/**
./**/classpath

./**/target/**
./**/.factorypath

./**/.settings/**
/jjg-bg-manage/target/
/jjg-common-base/target/
/jjg-common-db/target/
/jjg-eureka-server/target/
/jjg-job-admin/target/
/jjg-online/target/
/jjg-security-app/target/
/jjg-security-core/target/
/jjg-single/target/
/jjg-zuul-gatway/target/


