<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aite.mapper.AtCoinWalletExpandMapper">
    <resultMap id="BaseResultMap" type="com.aite.pojo.AtCoinWalletExpand">
        <id column="coin_id" jdbcType="VARCHAR" property="coinId" />
        <result column="contract_address" jdbcType="VARCHAR" property="contractAddress" />
        <result column="public_chain_flag" jdbcType="VARCHAR" property="publicChainFlag" />
        <result column="symbol" jdbcType="VARCHAR" property="symbol" />
        <result column="logo" jdbcType="VARCHAR" property="logo" />
        <result column="open_flag" jdbcType="BIT" property="openFlag" />
    </resultMap>

    <select id="queryCoinWalletList" resultMap="BaseResultMap">
        SELECT
        a.coin_id,
        a.contract_address,
        a.public_chain_flag,
        a.symbol,
        a.logo,
        b.wallet_id IS NOT NULL AS open_flag
    FROM
        dic_coin a
        LEFT JOIN ( SELECT * FROM at_wallet_coin WHERE wallet_id = #{walletId, jdbcType=VARCHAR}) b ON a.coin_id = b.coin_id
    WHERE symbol like #{keyword, jdbcType=VARCHAR} AND a.bottom_layer_id = #{bottomLayerId, jdbcType = VARCHAR}
    GROUP BY a.coin_id
    </select>
</mapper>