<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aite.mapper.AtDappExpandMapper">
  <resultMap id="BaseResultMap" type="com.aite.expdo.AtDappDO">
    <id column="dapp_id" jdbcType="VARCHAR" property="dappId" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="target_home_url" jdbcType="VARCHAR" property="targetHomeUrl" />
      <result column="isCollection" jdbcType="BIT" property="isCollection" />
  </resultMap>

  <select id="selectCollectDapp" resultType="com.aite.expdo.AtDappDO">

       SELECT
			ad.dapp_id AS dappId,
			ad.logo,
			ad.NAME,
			ad.content,
			ad.target_home_url AS targetHomeUrl,
			x.isCl as isCollection
		FROM
			at_dapp ad
			LEFT JOIN (

			SELECT
		CASE

		WHEN
		count( amd.dapp_id ) > 0 THEN
				'true' ELSE 'false'
				END isCl,
			amd.dapp_id
		FROM
			at_machine_dapp amd
			  <if test="machineCode != null">
				  WHERE amd.machine_id = #{machineCode}
			  </if>
			GROUP BY amd.dapp_id
			) x ON x.dapp_id = ad.dapp_id
		WHERE
		ad.dapp_type_id = #{dappType}
  </select>
    <select id="selectMyDapp" resultType="com.aite.pojo.AtDapp">
		SELECT
			ad.dapp_id AS dappId,
			ad.logo,
			ad.NAME,
			ad.content,
			ad.target_home_url AS targetHomeUrl
			FROM at_dapp ad
			LEFT JOIN at_machine_dapp amd
			on amd.dapp_id = ad.dapp_id
		WHERE
		amd.machine_id = #{machineCode}
	</select>

</mapper>