<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aite.mapper.AtWalletExpandMapper">
  <resultMap id="BaseResultMap" type="com.aite.expdo.AtWalletDO">
    <id column="wallet_id" jdbcType="VARCHAR" property="walletId" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="wallet_address" jdbcType="VARCHAR" property="walletAddress" />
    <result column="main_flag" jdbcType="BIT" property="mainFlag" />
  </resultMap>
    <update id="setWalletAddressMainFlag">
        UPDATE at_wallet aw set aw.main_flag = 0 WHERE aw.machine_id = #{machineCode}
    </update>
    <update id="setWalletAddressIsMain">
        UPDATE at_wallet aw set aw.main_flag = 1 WHERE aw.wallet_address = #{userWalletHistroyId}
    </update>

    <select id="getWalletByMachineCode" resultMap="BaseResultMap">
    SELECT
        aw.wallet_id,
        aw.wallet_address,
        aw.machine_id,
        aw.main_flag
    FROM
        at_wallet aw
        RIGHT JOIN dic_bottom_layer dbl
        ON dbl.bottom_layer_id = aw.bottom_layer_id
        WHERE aw.machine_id = #{machineCode}
        <if test="bottomLayerName != null and bottomLayerName != ''">
            AND dbl.name = #{bottomLayerName}
        </if>

  </select>

</mapper>