<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopx.goods.dao.mapper.EsBrandShowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shopx.goods.dao.entity.EsBrandShow">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="img_url" property="imgUrl" />
        <result column="link_url" property="linkUrl" />
        <result column="sort" property="sort" />
    </resultMap>

</mapper>
