<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsCategoryBrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsCategoryBrand">
        <result column="category_id" property="categoryId" />
        <result column="brand_id" property="brandId" />
    </resultMap>

        <select id="getCateBrandSelect" resultType="com.shopx.goods.api.model.domain.EsBrandSelectDO">
            <![CDATA[
                select b.id ,b.`name` text,case category_id when #{categoryId}
            then true else false end selected from es_brand b left join
              es_category_brand cb on b.id=cb.brand_id and category_id = #{categoryId} where b.is_del=0
              ]]>
        </select>
        <select id="getBrandsByCategoryList" resultType="com.shopx.goods.api.model.domain.EsBrandDO">
            <![CDATA[
              SELECT
                b.id,
                b.`name`,
                b.logo
            FROM
                es_category_brand cb
                INNER JOIN es_brand b ON cb.brand_id = b.id
            WHERE
                cb.category_id =#{categoryId}
                AND b.is_del=0
              ]]>
        </select>
</mapper>
