<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsGoodsSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsGoodsSku">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_sn" property="goodsSn" />
        <result column="bar_code" property="barCode" />
        <result column="quantity" property="quantity" />
        <result column="enable_quantity" property="enableQuantity" />
        <result column="dj_quantity" property="djQuantity" />
        <result column="xn_quantity" property="xnQuantity" />
        <result column="specs" property="specs" />
        <result column="money" property="money" />
        <result column="cost" property="cost" />
        <result column="weight" property="weight" />
        <result column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="category_id" property="categoryId" />
        <result column="thumbnail" property="thumbnail" />
        <result column="sort" property="sort" />
        <result column="is_self" property="isSelf" />
        <result column="guarantee_time" property="guaranteeTime" />
        <result column="quality_state" property="qualityState" />
        <result column="quality_report" property="qualityReport" />
        <result column="sku_long" property="skuLong" />
        <result column="wide" property="wide" />
        <result column="high" property="high" />
        <result column="is_enable" property="isEnable" />
        <result column="warning_value" property="warningValue" />
        <result column="sku_sn" property="skuSn" />
        <result column="spec_text" property="specText" />
    </resultMap>
    <select id="sellerGetGoodsSkuList" resultType="com.xdl.jjg.model.domain.EsGoodsSkuDO">

         <![CDATA[
            SELECT
                c.`name` as categoryName,
                 IF
                (t.quantity > t.warning_value, "正常", "库存预警" ) as stateName,
                t.*
            FROM
             es_goods_sku t
             LEFT JOIN es_category c ON t.category_id = c.id
             join es_goods eg on eg.id = t.goods_id and eg.is_del = '0'
	where t.shop_id=#{esGoodsDTO.shopId}
              ]]>

        <if test="esGoodsDTO.keyword != null and esGoodsDTO.keyword !=''">
        and t.sku_sn like CONCAT('%',#{esGoodsDTO.keyword},'%')
        or t.goods_name like CONCAT('%',#{esGoodsDTO.keyword},'%')
    </if>
        <if test="esGoodsDTO.categoryPath != null and esGoodsDTO.categoryPath !=''">
            and t.category_id in <foreach collection="cateIds" item="id" index="index" open="(" close=")" separator=",">#{id}</foreach>
        </if>
    </select>
</mapper>
