<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopx.goods.dao.mapper.EsGoodsWordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shopx.goods.dao.entity.EsGoodsWords">
        <result column="words" property="words" />
        <result column="goods_num" property="goodsNum" />
        <result column="quanpin" property="quanpin" />
        <result column="szm" property="szm" />
    </resultMap>

    <update id="updateGoodsWords" parameterType="com.shopx.goods.api.model.domain.dto.EsGoodsWordsDTO">
        update es_goods_words set goods_num=goods_num+1 where words = #{esGoodsWordsDTO.words}
    </update>
</mapper>
