<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsParameterGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsParameterGroup">
        <id column="id" property="id" />
        <result column="group_name" property="groupName" />
        <result column="category_id" property="categoryId" />
        <result column="sort" property="sort" />
    </resultMap>
    <select id="getEsParameterGroup" resultType="com.shopx.goods.api.model.domain.EsParameterGroupDO">
            select * from es_parameter_group where category_id = #{groupDTO.categoryId} order by sort desc limit 0,1
    </select>
</mapper>
