<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsAddCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsAddComment">
        <id column="id" property="id" />
        <result column="comment_id" property="commentId" />
        <result column="content" property="content" />
    </resultMap>

    <select id="getAddCommentByCommentId" resultType="com.xdl.jjg.entity.EsAddComment">
        SELECT id, comment_id commentId, content FROM es_add_comment
            WHERE comment_id = #{commentId}
        limit 1
    </select>

</mapper>
