<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsCommentSupportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsCommentSupport">
        <id column="id" property="id" />
        <result column="comment_id" property="commentId" />
        <result column="member_id" property="memberId" />
    </resultMap>

    <delete id="delete">
        delete  from  es_comment_support where comment_id = #{commentId} and member_id = #{memberId}
    </delete>

    <select id="judgeCommentSupport" resultMap="BaseResultMap">
        select id, comment_id, member_id from es_comment_support
        where
         comment_id = #{commentId}
         and member_id = #{memberId}
    </select>

</mapper>
