<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsComplaintReasonConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsComplaintReasonConfig">
        <id column="id" property="id" />
        <result column="complaint_reason" property="complaintReason" />
        <result column="complaint_type" property="complaintType" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="getComplaintReasonConfigList" resultType="com.xdl.jjg.model.domain.EsComplaintReasonConfigDO">
      SELECT
        ec.id,
        ec.complain_type_id complainTypeId,
        ec.create_time createTime,
        ec.complaint_reason complaintReason,
        ef.complain_type complaintName
      FROM
	  es_complaint_reason_config ec
	  INNER JOIN es_complaint_type_config ef ON ec.complain_type_id = ef.id
    </select>
</mapper>
