<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsComplaintTypeConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsComplaintTypeConfig">
        <id column="id" property="id" />
        <result column="complain_type" property="complainType" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
