<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsMemberActiveInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsMemberActiveInfo">
        <id column="id" property="id" />
        <result column="order_sn" property="orderSn" />
        <result column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="member_id" property="memberId" />
        <result column="payment_time" property="paymentTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
