<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsMemberleverGrowthvalueConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsMemberleverGrowthvalueConfig">
        <id column="id" property="id" />
        <result column="level_name" property="levelName" />
        <result column="growth_value" property="growthValue" />
        <result column="create_time" property="createTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

</mapper>
