<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsMemberCouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsMemberCoupon">
        <id column="id" property="id"/>
        <result column="member_id" property="memberId"/>
        <result column="coupon_id" property="couponId"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="order_id" property="orderId"/>
        <result column="order_sn" property="orderSn"/>
        <result column="member_name" property="memberName"/>
        <result column="title" property="title"/>
        <result column="coupon_money" property="couponMoney"/>
        <result column="coupon_threshold_price" property="couponThresholdPrice"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="state" property="state"/>
        <result column="shop_id" property="shopId"/>
        <result column="shop_name" property="shopName"/>
    </resultMap>

    <sql id="Base_Column_list">
        t.id,t.member_id memberId,t.coupon_id couponId,t.update_time updateTime,t.create_time createTime,t.order_id orderId,t.order_sn orderSn,t.member_name memberName,t.title,
        t.coupon_money couponMoney,t.coupon_threshold_price couponThresholdPrice,t.start_time startTime,t.end_time endTime,t.state,t.shop_id shopId,t.shop_name shopName,t.coupon_type couponType
    </sql>
    <update id="updateIsCheckByMemberId">
        UPDATE es_member_coupon emc
        SET emc.is_check = 2
        WHERE
            emc.member_id = #{memberId}
        and shop_id in
        <foreach item="item" collection="shopIdList" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </update>


    <select id="getMemberCouponList" resultType="com.xdl.jjg.model.domain.EsMemberCouponDO">
        select
        <include refid="Base_Column_list"/>,count(coupon_id) as count
        from es_member_coupon t
        where t.member_id = #{esMemberCoupon.memberId}
        <if test="esMemberCoupon.state != null and esMemberCoupon.state == '0'.toString()">
            and t.state =#{esMemberCoupon.state}
            and t.start_time  <![CDATA[<=]]> #{esMemberCoupon.currentTime}
            and t.end_time   <![CDATA[>=]]> #{esMemberCoupon.currentTime}
        </if>
        <if test="esMemberCoupon.state != null and esMemberCoupon.state == '1'.toString()">
            and (t.state =#{esMemberCoupon.state} and t.end_time  <![CDATA[>]]> #{esMemberCoupon.currentTime})
        </if>
        <if test="esMemberCoupon.state != null and esMemberCoupon.state == '2'.toString()">
            and t.state =#{esMemberCoupon.state}
        </if>
        group by t.coupon_id having count>1 ORDER BY t.create_time desc
    </select>

    <select id="getAdminMemberCouponListGroupNum" resultType="com.xdl.jjg.model.domain.EsAdminMemberCouponDO">
        SELECT emc.member_id id, em.name name, em.mobile mobile,
        SUM(if(emc.state=1,1,0)) noUseNum,SUM(if(emc.state=2,1,0)) hasMadeNum,SUM(if(emc.state=3,1,0)) expireCouponNum
        FROM es_member_coupon emc
        left join
        es_member em
        on emc.member_id = em.id

        where em.name  <![CDATA[<> ""]]>
        <if test="esMemberCoupon.keyword != null and esMemberCoupon.keyword != ''">
            and em.name = #{esMemberCoupon.keyword} or em.mobile = #{esMemberCoupon.keyword}
        </if>
        group by emc.member_id
    </select>

    <select id="getSellerMember" resultType="com.xdl.jjg.model.domain.EsSellerMemberCouponDO">
        SELECT ec.member_id memberId,em.name,em.mobile,ec.create_time createTime,ec.state,ec.update_time updateTime,ec.order_sn orderSn,ec.coupon_id couponId
        FROM es_member_coupon ec
        INNER JOIN es_member em
        on ec.member_id = em.id AND em.state =0
        where  1=1
        <if test="esMemberCoupon.state != null and esMemberCoupon.state != ''">
            and ec.state = #{esMemberCoupon.state}
        </if>
        <if test="esMemberCoupon.couponId != null and esMemberCoupon.couponId != ''">
            and ec.coupon_id = #{esMemberCoupon.couponId}
        </if>
        <if test="esMemberCoupon.mobile != null and esMemberCoupon.mobile != ''">
            and em.mobile = #{esMemberCoupon.mobile}
        </if>
        <if test="esMemberCoupon.createStartTime != null and esMemberCoupon.createStartTime !=''">
            and ec.create_time <![CDATA[>=]]> #{esMemberCoupon.createStartTime}
        </if>
        <if test="esMemberCoupon.createEndTime != null and esMemberCoupon.createEndTime !=''">
            and ec.create_time <![CDATA[<=]]> #{esMemberCoupon.createEndTime}
        </if>

    </select>

    <select id="getMemberCouponLimit" parameterType="com.xdl.jjg.model.domain.dto.EsMemberCouponDTO" resultType="java.lang.Integer">
      SELECT count(id) FROM es_member_coupon WHERE member_id = #{esMemberCoupon.memberId} AND coupon_id = #{esMemberCoupon.couponId} and is_del = 1
    </select>

    <select id="getMemberCouponNum"  resultType="com.xdl.jjg.model.domain.EsMemberCouponCountDO">
     SELECT coupon_id,count(id) num FROM es_member_coupon WHERE member_id = #{memberId} GROUP BY coupon_id
    </select>

    <select id="getCouponNum" resultType="java.lang.Integer">
        SELECT count(1) FROM es_member_coupon WHERE state = 1 AND is_del = 1
        AND member_id = #{memberId}
    </select>

    <select id="getCouponNumById" resultType="java.lang.Integer">
        SELECT count(1) FROM es_member_coupon WHERE state = 1 AND is_del = 1
        AND member_id = #{memberId} AND coupon_id=#{couponId} and #{timesNow} &gt;= start_time AND #{timesNow} &lt;= end_time
    </select>
    <select id="getAdminCouponList" resultType="com.xdl.jjg.model.domain.EsCouponManageMementDO">

        SELECT
        et.*
        FROM
        (
        SELECT
        ec.coupon_id couponId,
        ec.member_id memberId,
        ec.shop_id shopId,
        ec.title,
        ec.coupon_money couponMoney,
        ec.shop_name shopName,
        ec.create_time createTime,
        ec.state,
        ec.update_time updateTime,
        ec.order_sn orderSn,
        ec.start_time startTime,
        ec.end_time endTime,
        <![CDATA[IF
        (ec.start_time <= #{es.timesNow} AND ec.end_time  >= #{es.timesNow},"未过期", "已过期" ) ]]> overdueStateText,
        <![CDATA[IF
        (ec.start_time <= #{es.timesNow} AND ec.end_time  >= #{es.timesNow},1, 2 ) ]]> overdueState,
        CASE

        WHEN ec.state = '1' THEN
        "未使用"
        WHEN ec.state = '2' THEN
        "已使用" ELSE "已失效"
        END as stateText
        FROM
        es_member_coupon ec
        ) et
        where  et.memberId = #{es.memberId}
        <if test="es.keyword != null and es.keyword != ''">
         and et.title like CONCAT('%',#{es.keyword},'%') or et.orderSn = #{es.keyword}
        </if>
        <if test="es.state != null and es.state !=''">
         and et.state = #{es.state}
        </if>
        <if test="es.shopId != null and es.shopId !=''">
         and et.shopId = #{es.shopId}
        </if>
        <if test="es.overdueState != null and es.overdueState !=''">
         and et.overdueState = #{es.overdueState}
        </if>

    </select>

    <select id="deleteCoupontByMemberIdAndCouponId" >
        delete from es_member_coupon where coupon_id = #{couponId} and member_id = #{memberId} and create_time = #{times}
    </select>

    <insert id="insertMemberCoupon">
        insert into `zhuox-shop-member`.`es_member_coupon`
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test ="es.memberId != null">
              member_id,
          </if>
          <if test ="es.couponId != null">
              coupon_id,
          </if>
          <if test ="es.updateTime !=null">
              update_time,
          </if>
          <if test ="es.createTime !=null">
              create_time,
          </if>
          <if test ="es.orderId != null">
              order_id,
          </if>
          <if test ="es.orderSn != null">
              order_sn,
          </if>
          <if test ="es.memberName != null">
              member_name,
          </if>
          <if test ="es.title != null">
              title,
          </if>
          <if test ="es.couponMoney != null">
              coupon_money,
          </if>
          <if test = "es.couponThresholdPrice != null">
              coupon_threshold_price,
          </if>
          <if test = "es.startTime != null">
              start_time,
          </if>
          <if test = "es.endTime != null">
              end_time,
          </if>
          <if test = "es.state != null">
              state,
          </if>
          <if test = "es.shopId != null">
              shop_id,
          </if>
          <if test = "es.shopName != null">
              shop_name,
          </if>
            is_del
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test ="es.memberId != null">
                #{es.memberId},
            </if>
            <if test ="es.couponId != null">
                #{es.couponId},
            </if>
            <if test ="es.updateTime !=null">
                #{es.updateTime},
            </if>
            <if test ="es.createTime !=null">
                #{es.createTime},
            </if>
            <if test ="es.orderId != null">
                #{es.orderId},
            </if>
            <if test ="es.orderSn != null">
                #{es.orderSn},
            </if>
            <if test ="es.memberName != null">
                #{es.memberName},
            </if>
            <if test ="es.title != null">
                #{es.title},
            </if>
            <if test ="es.couponMoney != null">
                #{es.couponMoney},
            </if>
            <if test = "es.couponThresholdPrice != null">
                #{es.couponThresholdPrice},
            </if>
            <if test = "es.startTime != null">
                #{es.startTime},
            </if>
            <if test = "es.endTime != null">
                #{es.endTime},
            </if>
            <if test = "es.state != null">
               #{es.state},
            </if>
            <if test = "es.shopId != null">
                #{es.shopId},
            </if>
            <if test = "es.shopName != null">
                #{es.shopName},
            </if>
            0
        </trim>
    </insert>

    <select id="getMemberWhetherCouponIds" resultType="java.lang.Long">
        SELECT coupon_id FROM es_member_coupon WHERE member_id = #{memberId}
        and is_del = 1
        and coupon_id in
        <foreach item="item" collection="couponIdList" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
        GROUP BY coupon_id
    </select>

    <select id="getMemberCouponInOrder" resultType="com.xdl.jjg.model.domain.EsMemberCouponDO">
        SELECT coupon_id, id,shop_name shopName,member_id memberId,shop_id shop_Id,title,
            coupon_threshold_price couponThresholdPrice,coupon_money couponMoney,is_check isCheck,start_time startTime,
            end_time endTime FROM es_member_coupon
        WHERE member_id = #{memberId}  and shop_id in
        <foreach item="item" collection="shopIdList" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
        and state = 1 and is_del = 1
        <if test="money!=null">
            <![CDATA[ AND  #{money}>=coupon_threshold_price ]]>
        </if>
        and start_time &lt;= #{curTime} and end_time &gt;= #{curTime}
        GROUP BY coupon_id
        ORDER BY coupon_money desc
    </select>
    <select id="getCouponId" resultType="java.lang.Integer">
        SELECT
        coupon_id
        FROM
        es_member_coupon ec
        WHERE
        ec.member_id = #{memberId}
        AND ec.is_check = #{isCheck}
        AND ec.state = 1
    </select>

</mapper>
