<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsNavigationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsNavigation">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="is_del" property="isDel" />
        <result column="sort" property="sort" />
        <result column="contents" property="contents" />
        <result column="nav_url" property="navUrl" />
        <result column="target" property="target" />
        <result column="shop_id" property="shopId" />
    </resultMap>

</mapper>
