<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsShopRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsShopRole">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="auth_ids" property="authIds" />
        <result column="role_describe" property="roleDescribe" />
        <result column="shop_id" property="shopId" />
    </resultMap>

</mapper>
