<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdl.jjg.mapper.EsTemplateDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdl.jjg.entity.EsTemplateDetail">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="location" property="location" />
        <result column="update_time" property="updateTime" />
        <result column="temp_size" property="tempSize" />
        <result column="hot_sell_goods" property="hotSellGoods" />
        <result column="category_for_tems" property="categoryForTems" />
        <result column="client_type" property="clientType" />
    </resultMap>

</mapper>
